#
# mhl drivers configuration
#

menu "Mhl(sii9244) device support"


config MHL_DRIVER
	bool "MHL driver support."
	depends on VIDEO_TVOUT && (CPU_EXYNOS4412 || CPU_EXYNOS4210)
	default y
	---help---
	  This is a MHL driver for Lenovo TD platform.
	  Check dev node (major 10, minor 244)

#config SAMSUNG_WORKAROUND_HPD_GLANCE
#	bool "To avoid some effect of MHL's HPD glitch"
#	depends on (MHL_DRIVER || MHL_SII9234) && (CPU_EXYNOS4210 || CPU_EXYNOS4212 || #CPU_EXYNOS4412)
#	default y

#config SAMSUNG_MHL_UNPOWERED
#	bool "Use source vbus for mhl dongle if no external power"
#	depends on (SAMSUNG_MHL || MHL_SII9234)
#	default n
endmenu
